<header>
  <div class="container">
    <a routerLink="/" class="title"
      >Grocery <i class="fa-solid fa-bag-shopping"></i
    ></a>

    <nav>
      <ul>
        <li></li>
        <li *ngIf="user.fullName"  class="profile-container">
          <a>{{ user.fullName }}</a>
          <div class="details">
            <a routerLink="/orders-page">Orders</a>
          </div>
        </li>
        <li *ngIf="user.fullName">
          <a routerLink="/wishlist">Wishlist</a>
        </li>
        <li>
          <a routerLink="/cart"
            >Cart <i class="fa-solid fa-cart-shopping"></i
            ><span>0</span></a
          >
        </li>
        <li *ngIf="!isTokenValid">
          <a routerLink="/user-login" class="title">Login</a>
        </li>
        <li *ngIf="isTokenValid">
          <a routerLink="/" (click)="removeUserDataAndToken()" class="title"
            >Logout</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
