<header>
  <div class="container">
    <a routerLink="/" class="title"
      >Grocery <i class="fa-solid fa-bag-shopping"></i
    ></a>

    <nav>
      <ul>
        <li></li>
        <li  class="profile-container">
          <a>user name</a>
          <div class="details">
            <a routerLink="/orders-page">Orders</a>
          </div>
        </li>
        <li >
          <a routerLink="/favorite-page">Wishlist</a>
        </li>
        <li>
          <a routerLink="/cart"
            >Cart <i class="fa-solid fa-cart-shopping"></i
            ><span>0</span></a
          >
        </li>
        <li >
          <a routerLink="/login" class="title">Login</a>
        </li>
        <li >
          <a routerLink="/"  class="title"
            >Logout</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
