<div *ngIf="toggle && isTokenValid" class="address-container">
  <div class="container">
    <form [formGroup]="addressDetailsForm" (ngSubmit)="onSubmit(user._id)">
      <div class="form-container">
        <div class="address-details-container">
          <div class="heading">Address :</div>
          <textarea
            [class.errorBorder]="
              addressDetailsForm.get('address').errors != null &&
              addressDetailsForm.get('address').touched
            "
            formControlName="address"
            cols="30"
            rows="6"
          ></textarea>

          <div
            [class.noDisplay]="
              !addressDetailsForm.get('address').errors ||
              addressDetailsForm.get('address').untouched
            "
          >
            <div
              *ngIf="addressDetailsForm.get('address').errors?.required"
              class="errorMessage"
            >
              Address is Required
            </div>
            <div
              *ngIf="addressDetailsForm.get('address').errors?.minlength"
              class="errorMessage"
            >
              Full-Name Must Be At least 3 Characters
            </div>
          </div>
        </div>
        <div class="address-details-container">
          <div class="heading">Landmark :</div>
          <input
            [class.errorBorder]="
              addressDetailsForm.get('landmark').errors != null &&
              addressDetailsForm.get('landmark').touched
            "
            formControlName="landmark"
            type="text"
          />

          <div
            [class.noDisplay]="
              !addressDetailsForm.get('landmark').errors ||
              addressDetailsForm.get('landmark').untouched
            "
          >
            <div
              *ngIf="addressDetailsForm.get('landmark').errors?.required"
              class="errorMessage"
            >
              Landmark is Required
            </div>
          </div>
        </div>
        <div class="address-details-container">
          <div class="heading">State :</div>
          <input
            [class.errorBorder]="
              addressDetailsForm.get('state').errors != null &&
              addressDetailsForm.get('state').touched
            "
            formControlName="state"
            type="text"
          />

          <div
            [class.noDisplay]="
              !addressDetailsForm.get('state').errors ||
              addressDetailsForm.get('state').untouched
            "
          >
            <div
              *ngIf="addressDetailsForm.get('state').errors?.required"
              class="errorMessage"
            >
              State Name is Required
            </div>
            <div
              *ngIf="addressDetailsForm.get('state').errors?.minlength"
              class="errorMessage"
            >
              State Must Be At least 3 Characters
            </div>
          </div>
        </div>
        <div class="address-details-container">
          <div class="heading">City :</div>
          <input
            [class.errorBorder]="
              addressDetailsForm.get('city').errors != null &&
              addressDetailsForm.get('city').touched
            "
            formControlName="city"
            type="text"
          />

          <div
            [class.noDisplay]="
              !addressDetailsForm.get('city').errors ||
              addressDetailsForm.get('city').untouched
            "
          >
            <div
              *ngIf="addressDetailsForm.get('city').errors?.required"
              class="errorMessage"
            >
              City Name is Required
            </div>
            <div
              *ngIf="addressDetailsForm.get('city').errors?.minlength"
              class="errorMessage"
            >
              City Must Be At least 3 Characters
            </div>
          </div>
        </div>
        <div class="address-details-container">
          <div class="heading">Pincode :</div>
          <input
            [class.errorBorder]="
              !addressDetailsForm.get('pincode').errors != null &&
              addressDetailsForm.get('pincode').touched
            "
            formControlName="pincode"
            type="number"
          />

          <div
            [class.noDisplay]="
              !addressDetailsForm.get('pincode').errors ||
              addressDetailsForm.get('pincode').untouched
            "
          >
            <div
              *ngIf="addressDetailsForm.get('pincode').errors?.required"
              class="errorMessage"
            >
              Pin-code is Required
            </div>
            <div
              *ngIf="addressDetailsForm.get('pincode').errors?.pattern"
              class="errorMessage"
            >
              Pin-code Must Be of 6 Characters
            </div>

          </div>
        </div>
        <div class="add-btn-container">
          <button
          *ngIf="user.addresses.length"
            (click)="toggleDiv()"

            class="select-btn"
          >
            Select Address
          </button>

          <button
            [disabled]="checkFormErrors(addressDetailsForm)"
            class="add-btn"
          >
            Add
          </button>
        </div>
      </div>
    </form>
    {{ addressDetailsForm.value | json }}
  </div>
</div>

<div class="error-message-container" *ngIf="!isTokenValid">
  <div class="container">
    <div class="error-message-content">
      <div class="message"><span>Error 20103 :</span> Invalid Access Token</div>
    </div>
  </div>
</div>

<div *ngIf="!toggle && isTokenValid" class="addresses-container">
  <div class="container">
    <div class="address-content">
      <div class="title-btn-container">
        <div class="title">Saved Addresses</div>
        <button (click)="toggleDiv()" class="add-btn">Add New Address</button>
      </div>

      <div class="user-addresses-container">
        <div class="no-address-container" *ngIf="!user.addresses.length">
          <div class="error-message-content">
            <div class="message">
              <i>No Address Found</i>
              <p><i>Please Add Address To Proceed</i></p>
            </div>
          </div>
        </div>
        <div class="details-container" *ngFor="let address of user.addresses">
          <div class="details">
            <div class="user-name">{{ user.fullName }}</div>
            <div class="user-address-container">
              <div class="address">Address : {{ address.address }}</div>
              <div class="landmark">Landmark : {{ address.landmark }}</div>
              <div class="state">State : {{ address.state }}</div>
              <div class="city">City : {{ address.city }}</div>
              <div class="pincode">Pincode : {{ address.pincode }}</div>
            </div>
          </div>
          <div class="remove-btn-container">
            <input
              id="address"
              name="check"
              type="radio"
              (change)="changeAddress(address)"
            />
          </div>
        </div>
        <div class="proceed-to-payment-container">
          <button *ngIf="cart.items.length" (click)="onProceedToPayment()" class="proceed-to-payment-btn">
            Proceed To Payment
          </button>
          <button *ngIf="!cart.items.length" routerLink="/" class="proceed-to-payment-btn">
            Home
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


