<div class="category-details-container">
  <div class="container">
    <form
      [formGroup]="categoryTagDetailsForm"
      (ngSubmit)="
        isAddCategory
          ? addNewCategoryAndTag()
          : updateCategoryAndTag(category._id)
      "

    >
      <div class="form-container">
        <div *ngIf="!category._id"  class="category-tag-container">
          <div class="category-tag-content-container">
            <div class="heading">Tag Name :</div>
            <input
              [class.errorBorder]="
                categoryTagDetailsForm.get('tag').errors != null &&
                categoryTagDetailsForm.get('tag').touched
              "
              formControlName="tag"
              type="text"
            />
            <div
              [class.noDisplay]="
                !categoryTagDetailsForm.get('tag').errors ||
                categoryTagDetailsForm.get('tag').untouched
              "
            >
              <div
                *ngIf="categoryTagDetailsForm.get('tag').errors?.required"
                class="errorMessage"
              >
                Tag is Required
              </div>
            </div>
          </div>
          <div class="category-tag-content-container">
            <div class="heading">Category Name :</div>
            <input
            [class.errorBorder]="
            categoryTagDetailsForm.get('category').errors != null &&
            categoryTagDetailsForm.get('category').touched
          "
              formControlName="category"
              type="text"
            />

            <div
              [class.noDisplay]="
                !categoryTagDetailsForm.get('category').errors ||
                categoryTagDetailsForm.get('category').untouched
              "
            >
              <div
                *ngIf="categoryTagDetailsForm.get('category').errors?.required"
                class="errorMessage"
              >
                Category is Required
              </div>
            </div>
          </div>
        </div>


        <div *ngIf="category._id" class="category-tag-container">
          <div class="category-tag-content-container">
            <div class="heading">Tag Name :</div>
            <input formControlName="tag" type="text" [value]="category.tag" />
          </div>
          <div class="category-tag-content-container">
            <div class="heading">Category Name :</div>
            <input
              formControlName="category"
              type="text"
              [value]="category.category"
            />
          </div>
        </div>

        <div *ngIf="!category._id" class="add-btn-container">
          <button class="add-btn">Add</button>
        </div>
        <div *ngIf="category._id" class="update-btn-container">
          <button
            [disabled]="checkFormErrors(categoryTagDetailsForm)"
            class="update-btn"
          >
            Update
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

