<div class="about-page-container">
  <div class="container">
    <div class="page-title">About Us</div>
    <div class="content-container">
      <div class="our-shared-philosophy">
        <div class="title">Our Shared Philosophy</div>
        <div class="philosophy-data">
          <div class="mindsets-and-leverage-points">
            <div class="image-container">
              <img
                src="../../../../assets/aboutPage/career-mindsets.jpg"
                alt="career-mindsets"
              />
            </div>
            <div class="heading">Mindsets & Leverage Points</div>
            <div class="para">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat
              eius dignissimos voluptas vel ut, dolorum impedit repellendus
              corporis modi, itaque ex aspernatur nam eos in voluptatem
              reprehenderit nostrum voluptate a tempore ratione maxime earum
              quam. Culpa nemo error doloremque totam iste possimus odio
              nostrum, delectus adipisci debitis corrupti, voluptate animi.
            </div>
          </div>
          <div class="learning-organisation">
            <div class="image-container">
              <img
                src="../../../../assets/aboutPage/career-organisation.jpg"
                alt="career-organisation"
              />
            </div>
            <div class="heading">Learning Organisation</div>
            <div class="para">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta
              aperiam ducimus suscipit laboriosam quo placeat sit fugit eum
              voluptates quia exercitationem esse pariatur dignissimos qui omnis
              libero, quae animi dolorum, in officiis ullam ipsa. Exercitationem
              ex nulla accusantium aut laborum minima! Atque odit aspernatur,
              nulla non deserunt mollitia praesentium a.
            </div>
          </div>
        </div>
      </div>
      <div class="information">
        <div class="content">
          <div class="heading">instant delivery service</div>
          <div class="para">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, a
            aliquid velit natus reiciendis, labore quis maiores dolore, id
            tempora iusto esse quas laboriosam alias dolores. At veritatis
            itaque ut soluta voluptas, porro inventore commodi nesciunt
            praesentium sequi sint delectus tempora consequuntur quas, animi
            modi tempore aliquam dolor impedit maiores?
          </div>
        </div>
        <div class="content">
          <div class="heading">Perfect place for all your daily needs</div>
          <div class="para">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, a
            aliquid velit natus reiciendis, labore quis maiores dolore, id
            tempora iusto esse quas laboriosam alias dolores. At veritatis
            itaque ut soluta voluptas, porro inventore commodi nesciunt
            praesentium sequi sint delectus tempora consequuntur quas, animi
            modi tempore aliquam dolor impedit maiores?
          </div>
        </div>
        <div class="content">
          <div class="heading">
            Order online to enjoy instant delivery magic
          </div>
          <div class="para">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, a
            aliquid velit natus reiciendis, labore quis maiores dolore, id
            tempora iusto esse quas laboriosam alias dolores. At veritatis
            itaque ut soluta voluptas, porro inventore commodi nesciunt
            praesentium sequi sint delectus tempora consequuntur quas, animi
            modi tempore aliquam dolor impedit maiores?
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

