<div *ngIf="user.email" class="error-message-container">
  <div class="message-container">
    <div class="error-message">
      <span>Error Message :</span> You are not authorized to access this page
    </div>
  </div>
</div>

<div *ngIf="!user.email" class="login-page-container">
  <div class="container">
    <form [formGroup]="adminLoginDetailsForm" (ngSubmit)="loginAdmin()">
      <div class="form-container">
        <div class="user-details-container">
          <div class="heading">Email :</div>
          <input [class.errorBorder]="
          adminLoginDetailsForm.get('email').errors != null &&
          adminLoginDetailsForm.get('email').touched
        " formControlName="email" type="email" />

        <div
            [class.noDisplay]="
              !adminLoginDetailsForm.get('email').errors ||
              adminLoginDetailsForm.get('email').untouched
            "
          >
            <div
              *ngIf="adminLoginDetailsForm.get('email').errors?.required"
              class="errorMessage"
            >
              Email is Required
            </div>
            <div
              *ngIf="adminLoginDetailsForm.get('email').errors?.pattern"
              class="errorMessage"
            >
              Please enter Your email address in format: youname@example.com
            </div>
          </div>
        </div>
        <div class="user-details-container">
          <div class="heading">Password :</div>
          <input [class.errorBorder]="
          adminLoginDetailsForm.get('password').errors != null &&
          adminLoginDetailsForm.get('password').touched
        " formControlName="password" type="password" />
        <div
            [class.noDisplay]="
              !adminLoginDetailsForm.get('password').errors ||
              adminLoginDetailsForm.get('password').untouched
            "
          >
            <div
              *ngIf="adminLoginDetailsForm.get('password').errors?.required"
              class="errorMessage"
            >
              Password is Required
            </div>
            <div
              *ngIf="adminLoginDetailsForm.get('password').errors?.minlength"
              class="errorMessage"
            >
            Password Must Be At least 8 Characters
          </div>
          </div>
        </div>
        <div class="login-btn">
          <button>Login</button>
        </div>

         </div>
    </form>
  </div>
</div>
