<div class="contact-page-container">
  <div class="container">
    <div class="title-image-container">
      <div class="title">Let's have a talk</div>
      <div class="image-container">
        <img
          src="../../../../assets/contactPage/career-masthead-desktop.webp"
          alt=""
        />
      </div>
    </div>
    <div class="content-container">
      <div class="heading">
        We would like to hear from you
        <span
          >Got questions? we're ready to answer any and all questions !</span
        >
        <div class="email">
          To reach our customer service email us at
          <a>customerservice@xyz.com</a>
        </div>
      </div>
    </div>
    <div class="information">
      <div class="heading">What you get when asking your question</div>
      <ul>
        <li>Less than 12-hour response to your question</li>
        <li>Thoroughness and expertise of a Certified Exchange Specialist</li>
        <li>Plan of action summarized in an email follow up</li>
      </ul>
    </div>
  </div>
</div>
